<template>
    <div class="slds-template_default">
    
        <div class="slds-grid slds-wrap">
    
            <components-page-header class="slds-col slds-size_1-of-1"></components-page-header>
    
            <div class="slds-col slds-size_1-of-1 slds-m-top_small">
                <lightning-card>
                    <div slot="title">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-account" title="account">
                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                    </svg>
                                    <span class="slds-assistive-text">account</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Accounts</span>
                                    </a>
                                </h2>
                            </div>
                        </header>
                    </div>
    
                    <!-- LWC sample component <my-greeting> -->
                    <div class="center greeting">
                        <!-- <my-greeting speed="slow"></my-greeting> -->
                        <my-greeting speed="medium"></my-greeting>
                        <!-- <my-greeting speed="fast"></my-greeting> -->
                    </div>
    
                    <div class="center">
                        <img src="./resources/lwc.png" />
                    </div>
    
                    <!-- Page code -->
                    <div class="center">
                        <div class="container">
                            <!-- prettier-ignore -->
                            <p class="info">
                                Edit <strong class="code">src/modules/my/app/app.html</strong>
                                <br />and save for live reload.
                            </p>
                        </div>
                        <div>
                            <a href="https://lwc.dev" class="link" target="_blank">Learn LWC</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
    
                </lightning-card>
            </div>
        </div>
    </div>
</template>