<template>
    <li class={className}>
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title={menuTitle} onclick={handleClick}>
            <template if:true={iconName}>
            <div class="slds-media__figure">
                <lightning-icon icon-name={iconName} alternative-text={iconTitle} title={iconTitle} size="x-small"></lightning-icon>
            </div>
            </template>
            <template if:true={isActive}>
            <span class="slds-assistive-text">Current Page:</span>
            </template>
            <span class="slds-truncate" title={menuTitle}>
                <lightning-formatted-text value={menuTitle}></lightning-formatted-text>
            </span>
        </a>
    </li>
</template>