<template>
    <div class="myheader slds-page-header">
        <template if:true={title}>
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title primary-row">
                <slot name="primary-row">
                    <div class="slds-media v-center">
                        <template if:true={iconName}>
                        <div class="slds-media__figure">
                            <lightning-icon icon-name={iconName} alternative-text={iconAlternativeText} title={iconTitle} size="medium">
                            </lightning-icon>
                        </div>
                        </template>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate" title={title}>
                                            <lightning-formatted-text value={title}></lightning-formatted-text>
                                        </span>
                                    </h1>
                                </div>
                            </div>
                            <template if:true={subTitle}>
                            <p class="slds-page-header__name-meta">
                                <lightning-formatted-text value={subTitle}></lightning-formatted-text>
                            </p>
                            </template>
                        </div>
                    </div>
                </slot>
            </div>
        </div>
        </template>
        <div class="slds-page-header__row slds-page-header__row_gutters">
            <div class="slds-page-header__col-details">
                <slot></slot>
            </div>
        </div>
    </div>
    <div class="proxy"></div>
</template>