.main-section {
    position:relative;
    top: calc(var(--lwc-spacingXSmall,2.5rem) + var(--lwc-heightHeader,3.125rem));
    height: calc(100% - var(--lwc-spacingXSmall,2.5rem) + var(--lwc-heightHeader,3.125rem));
}