<template>
    <header class="slds-global-header_container">
        <div class="slds-global-header">
            <div class="slds-global-header__item">
                <div class="slds-global-header__logo">
                    <span class="slds-assistive-text">Salesforce</span>
                </div>
            </div>
            <!-- <div class="slds-global-header__item slds-global-header__item_search">...</div>
                <div class="slds-global-header__item">...</div> -->
        </div>
    </header>
    <!-- Global Header Height PlaceHolder -->
    <div class="slds-global-header"></div>
</template>