<template>
    <div class="slds-template_default">

        <lightning-layout>
            <lightning-layout-item size="12">
                <components-page-header
                        class="slds-col slds-size_1-of-1"
                        title="入力フォームサンプル"
                        sub-title="様々なインプット項目のレイアウトを試してみます。"
                        icon-name="standard:form"
                        icon-title="form">
                </components-page-header>
            </lightning-layout-item>
        </lightning-layout>

        <lightning-layout class="main-row">
            <lightning-layout-item size="8">
                <div class="slds-card slds-p-around_small">
                    <components-form-section title="表示のみ" is-open="true">
                        <components-form-row is-double="true">
                            <components-form-item slot="left" label="日本語項目" type="text" value={formData.field1}></components-form-item>
                            <components-form-item slot="right" label="日本語項目" type="text" value={formData.field2}></components-form-item>
                        </components-form-row>
                        <components-form-row is-double="true">
                            <components-form-item slot="right" label="らべる" type="datetime" value="2021-07-27T08:30:28+09:00"></components-form-item>
                        </components-form-row>
                        <components-form-row>
                            <components-form-item label="らべる" type="text" value="テキスト値あああああ"></components-form-item>
                        </components-form-row>
                    </components-form-section>

                    <components-form-section title="編集可" is-open="true">
                        <components-form-row is-double="true">
                            <lightning-input slot="left" data-id="field1" type="text" label="日本語項目" value={formData.field1} onchange={handleChange} variant="label-inline"></lightning-input>
                            <lightning-input slot="right" data-id="field2" type="text" label="日本語項目" value={formData.field2} onchange={handleChange} variant="label-inline"></lightning-input>
                        </components-form-row>
                        <components-form-row is-double="true">
                            <lightning-input slot="right" type="text" label="らべる" value="テキスト値あああああ" variant="label-inline"></lightning-input>
                        </components-form-row>
                        <components-form-row>
                            <lightning-input type="text" label="らべる" value="テキスト値あああああ" variant="label-inline"></lightning-input>
                        </components-form-row>
                    </components-form-section>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="region-sidebar-right" size="4">
                <lightning-card>
                    <div slot="title">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-account" title="account">
                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                    </svg>
                                    <span class="slds-assistive-text">account</span>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Accounts</span>
                                    </a>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <p class="slds-p-horizontal_small" title="Field2 (3)">Field 2 (3)
                        <lightning-button-icon icon-name="utility:down" variant="border-filled" size="small"
                            alternative-text="More Actions"></lightning-button-icon>
                    </p>
                    <p class="slds-p-horizontal_small">Eligibility</p>
                </lightning-card>
            </lightning-layout-item>
        </lightning-layout>

        <div class="slds-grid slds-wrap">

            <!-- <components-page-header class="slds-col slds-size_1-of-1"></components-page-header> -->

            <div class="slds-col slds-size_1-of-1">

                <lightning-card>
                    <div slot="title">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:account" alternative-text="Account" title="Account" size="small"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Accounts</span>
                                    </a>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <p class="slds-p-horizontal_small">Card Body (custom component)</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                    <p>aaa</p>
                </lightning-card>
            </div>
        </div>
    </div>
</template>